<a href="https://colab.research.google.com/github/Xantosh/Coding-Bat-Solutions/blob/main/CodingBat_Session_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an array of ints, return the number of 9's in the array.


array_count9([1, 2, 9]) → 1

array_count9([1, 9, 9]) → 2

array_count9([1, 9, 9, 3, 9]) → 3

In [1]:
def array_count9(nums):
  count = 0
  for i in range(len(nums)):
    if nums[i] == 9:
      count += 1
  return count
print(array_count9([1,2,9]))

1

Given a string, return the string made of its first two chars, so the String "Hello" yields "He". If the string is shorter than length 2, return whatever there is, so "X" yields "X", and the empty string "" yields the empty string "".


first_two('Hello') → 'He'

first_two('abcdefg') → 'ab'

first_two('ab') → 'ab'

In [2]:
def first_two(str):
  if len(str) <= 2:
    return str
  else:
    return str[0:2]
print(first_two("abcdefg"))

ab

Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1}.


rotate_left3([1, 2, 3]) → [2, 3, 1]

rotate_left3([5, 11, 9]) → [11, 9, 5]

rotate_left3([7, 0, 0]) → [0, 0, 7]

In [33]:

def rotate_left3(nums):
  temp1 = nums[-1]
  temp2 = nums[0]
  
  nums[0] = nums[1]
  nums[1] = temp1
  nums[-1] = temp2
  return nums
print(rotate_left3([1,2,3]))


#alt solution for larger values or arr
a = [1,2,3,4,5]
t = a[0]
for i in range(1,len(a)):
  
  a[i - 1] = a[i]

a[-1] = t
print(a)

[2, 3, 1]
[2, 3, 4, 5, 1]

Given 2 ints, a and b, return their sum. However, sums in the range 10..19 inclusive, are forbidden, so in that case just return 20.


sorta_sum(3, 4) → 7

sorta_sum(9, 4) → 20

sorta_sum(10, 11) → 21

In [8]:
def sota_sums(a ,b):
  sum = a + b
  if sum >= 10 and sum <= 19:
    return 20
  else:
    return sum
print(sota_sums(10,4))

20

For this problem, we'll round an int value up to the next multiple of 10 if its rightmost digit is 5 or more, so 15 rounds up to 20. Alternately, round down to the previous multiple of 10 if its rightmost digit is less than 5, so 12 rounds down to 10. Given 3 ints, a b c, return the sum of their rounded values. To avoid code repetition, write a separate helper "def round10(num):" and call it 3 times. Write the helper entirely below and at the same indent level as round_sum().


round_sum(16, 17, 18) → 60

round_sum(12, 13, 14) → 30

round_sum(6, 4, 4) → 10

In [9]:
def round_sum(a, b, c):
  return round10(a) + round10(b) + round10(c)
  
def round10(num):
  if num % 10 >= 5:
    num = ((num // 10) + 1) * 10
    return num
  elif num % 10 < 5 :
    num = num - (num % 10)
    return num
print(round_sum(5,6,7))

30

Return True if the given string contains an appearance of "xyz" where the xyz is not directly preceeded by a period (.). So "xxyz" counts but "x.xyz" does not.


xyz_there('abcxyz') → True

xyz_there('abc.xyz') → False

xyz_there('xyz.abc') → True

In [18]:
def xyz_there(str):
  i = 0
  if len(str) < 3:
    return False
  else:
    while( i <= len(str) - 3):
      if str[i:i +3] != "xyz":
        i += 1
      elif str[i:i+3] == "xyz" and i >0:
        if str[i -1] != ".":
          return True
        elif str[i-1] == ".":
          i += 3
      elif str[i:i+3] == "xyz" and i == 0:
        return True
        
        
    return False
print(xyz_there("abcxyz"))

True


Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.


has22([1, 2, 2]) → True

has22([1, 2, 1, 2]) → False

has22([2, 1, 2]) → False

In [26]:
def has22(nums):
  if len(nums) <= 1:
    return False
  else:
    for i in range(len(nums)):
      if nums[i] == 2 and (i >= 0 and  i != len(nums) - 1):
        if nums[i + 1] == 2:
          return True
    return False
print(has22([1,2,2]))

True